body{
    background-color: #222831;
    display: flexbox;
    margin-top: 100px;

}
img{
    height: 100%;
    width: 100%;
}
.intro{
    display:flex ;
    flex-direction:row;*
    
    
}
.img{
    display: flex;
    justify-content: flex-end;
}
.about{
    margin: 5%;
    color: #EEEEEE;
}
input{
    background-color: #00ADB5;
    border-style: none;
    padding: 15px 30px;
    border-radius: 5px;
}
    
.h{
    background-color: #00ADB5;
    margin-right: 65%;
    color: black;
   
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #393E46;
    height: 100%;
    width: 200px;
    padding:20px 30px;
}
nav li{
    background-color: #00ADB5;
    border-radius:50px;
    list-style: none;
    height: 50px;
    width:200px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.profil{
    margin-top: 10px;
    height: 250px;
    width: 250;
}
.h3{
    color: black;
}
a{
    text-decoration: none;
}